@model IEnumerable<CoursesApp.Models.CourseModel>

@{
    ViewBag.Title = "TrainerCourses";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<br />
<h2>@ViewBag.trainername Courses</h2>
    <hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImgId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
      
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
    @if (item.ImgId != null)
    {
        <img src="~/Uploads/Courses/@item.ImgId" style="width:128px;height:128px;" />
    }
    else
    {
        <img src="~/Uploads/Courses/hf-classifieds_no-image-available_2.jpg" style="width:128px;height:128px;" />
    }
    </td>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>

     
    </tr>
}

</table>
