@model CoursesApp.Models.Landpage.Register
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_NavAndFooter.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register</title>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Register</h3></div>
                                <div class="card-body">
                                    @using (Html.BeginForm("Register", "Accounts", FormMethod.Post))
                                    {
                                        <div class="form-floating mb-3">

                                            @Html.TextBoxFor(l => l.Name, new { @class = "form-control", @placeholder = "name@example.com", @type = "username" })
                                            @Html.LabelFor(l => l.Name)
                                            <p style="color:red">@Html.ValidationMessageFor(l => l.Name)</p>
                                        </div>
                                        <div class="form-floating mb-3">

                                            @Html.TextBoxFor(l => l.Email, new { @class = "form-control", @placeholder = "name@example.com", @type = "email" })
                                            @Html.LabelFor(l => l.Email)
                                            <p style="color:red">@Html.ValidationMessageFor(l => l.Email)</p>
                                        </div>

                                        <div class="form-floating mb-3">
                                            @Html.PasswordFor(l => l.Password, new { @class = "form-control", @placeholder = "Password", @type = "password" })
                                            @Html.LabelFor(l => l.Password)
                                            <p style="color:red">@Html.ValidationMessageFor(l => l.Password)</p>
                                        </div>
                                        <div class="form-floating mb-3">
                                            @Html.PasswordFor(l => l.ConfirmPassword, new { @class = "form-control", @placeholder = "Password", @type = "password" })
                                            @Html.LabelFor(l => l.ConfirmPassword)
                                            <p style="color:red">@Html.ValidationMessageFor(l => l.ConfirmPassword)</p>
                                        </div>
                                        <div class="form-check mb-3">

                                            @if (Model != null && Model.Message != null)
                                            {
                                                <div class="alert alert-danger">
                                                    @Model.Message
                                                </div>
                                            }
                                        </div>
                                        <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                                            <input class="btn btn-primary" value="Register" type="submit" />
                                        </div>
                                    }
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="Login.html">Already have an account? Sign in!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Content/js/scripts.js"></script>
</body>

</html>

